.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  /* width: 33.33%; */
  width: calc(100%/3);
}

.column-one-fourth {
  width: calc(100%/ 4);
}

.column-two-thirds {
  /* width: 66.7%; */
  width: calc(100% * 2/3);
}

img {
  width: 100%;
}
